<h5>{{#link-to 'listing' listing.id}}{{listing.listingName}} --Date: {{format-date listing.date_added}}{{/link-to}}
{{#if isImageShowing}}
  <p><img src={{listing.image}} alt="no-image" {{action 'imageHide'}}></p>
{{else}}
<button {{action 'imageShow'}}>Show image</button>
{{/if}}
</h5>
