
{{#if isImageShowing}}
  <p><img src={{listing.image}} alt="no-image" {{action 'imageHide'}}></p>
{{else}}
<button {{action 'imageShow'}}>Show image</button>
{{/if}}
<button class="btn-danger" {{action 'deleteListing' listing}}>Delete listing</button>
