<br>
<br>
{{#if isImageShowing}}
  <p><img src={{listing.image}} alt="no-image" {{action 'imageHide'}}></p>
{{else}}
<button class="btn-success btn-lg"{{action 'imageShow'}}>Show image</button>
{{/if}}
<br>
<br>
<button class="btn-danger btn-lg" {{action 'deleteListing' listing}}>Delete listing</button>
