<div class="col-md-8">
<h2><span id="listing-name">{{model.listingName}}</span></h2>
<br>
<h5><span class="listing-date">Date added:  </span><span class="listing-date2"</span>{{format-date model.date_added}}</span></h5>
<br>
<h5><span class="listing-date">Description:  </span> <span class="listing-date2">{{model.description}}</span></h5>
<br>
<h4><span class="listing-date">Contact information for this listing:  </span>  <span class="listing-date2">{{model.contactInfo}}</span></h4>
<br>
{{google-map listing=model}}
</div>
<div class="col-md-4">
{{listing-page listing=model deleteListing="deleteListing"}}
{{category-page deleteListing="deleteListing" category=category}}
</div>
